<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
    
      <img class="foto-cart" src="../images/oferta.jpg" alt="Imagen de oferta">

      <div class="marcaCart">
        <p>Excelente guitarra de calidad</p>
        <p>Guitarra Acústica Takamine</p>
        <p>Precio
          <i class="fa-solid fa-dollar">23500</i>
        </p>
      </div>

    </main> 
  <%- include('./partials/footer') %>
  </body>
</html>