<!DOCTYPE html>
<html>
  <%- include('../partials/head',{title:'Mis Compras'}) %>
  <body>
    <%- include('../partials/header') %>
    <main class="marcaCart" >
    
      <img class="art-detail" src="../images/products/oferta.jpg" alt="Imagen del producto">

      <div class="marcaCart">
        <p>Excelente guitarra de calidad</p>
        <p>Guitarra Acústica Takamine</p>
        <p>Precio
          <i class="fa-solid fa-dollar">100000</i>
        </p>
      </div>

    </main> 
  <%- include('../partials/footer') %>
  </body>
</html>