<!DOCTYPE html>
<html>
  <%- include('../partials/head',{title:'Carrito de compras'}) %>
  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="foto">
      <img class="bars" src="/images/products/amplis<%= product.image %>" alt="">
    
</div>
  </main> 

  </body>
</html>
