.body-admin {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url('../images/footer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(68, 74, 74);
  display: flex;
  justify-content: center;
  height: max-content;
  padding: 1rem;
  margin: 0 auto;
  color: whitesmoke;
  font-size: 24px;
  list-style: none;
}
.logo-a{
  width: 5rem;
}

.admin-a{
list-style: none;
text-decoration: none;
color: aliceblue;
cursor:pointer;

}
.mainAdmin{
  padding: .1rem;
}
.reg-titulo{
  margin: 0;
  color:rgb(54, 202, 54) ;
  text-align: center;
  padding: 1rem;
  background-color: rgb(92, 99, 99);
}

.reg-form{
  color: aliceblue;
  background-color: rgb(92, 99, 99);
  text-align: center;
}

.reg-label{
  text-align: left;
  margin-left: 4rem;
  color: antiquewhite;
  font-size: 16px;
  
}

table{
  padding: .5rem;
}

th{
  text-align: center;
  padding: .2rem;
  background-color: rgb(17, 17, 17);
  color: rgb(246, 245, 245);
  border-bottom: 1px dotted rgb(249, 249, 249);
  border-right: 1px dotted rgb(253, 251, 251);
}

tr{
  background-color: rgb(239, 233, 233);
  color: rgb(1, 1, 1);
  border-right: 1px dotted black;
  border-bottom: 2px solid black;
}
td{
  padding: .5rem;
  border-right: 1px dotted black;

}
.btn-edit{
  line-height: .5;
  margin: 0;
  background-color: rgb(99, 182, 233);
  color: aliceblue;
  padding: 4px;
  border-radius: 10px;
}
.btn-edit:hover {
  color: rgb(179, 174, 174);
  background-color: rgb(3, 20, 252);
}
.btn-new{
  line-height:1.5;
  margin: 0;
  color: aliceblue;
  background-color: rgb(87, 209, 85);
  padding: 0;
  border-radius: 10px;
}
.btn-new:hover {
  background-color: rgb(47, 255, 0);
  color: rgb(20, 20, 20);
}
.btn-del{
  font-size: 12px;
  margin: 0;
  line-height: 1.3;
  color: aliceblue;
  background-color: rgb(227, 102, 102);
  padding: 0;
  border-radius: 15px;
}
.btn-del:hover {
  background-color: rgb(255, 3, 3);
  color: rgb(253, 248, 248);
}