.body-admin {
  font-family:Arial, Helvetica, sans-serif;
  background-image: url('../images/footer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(68, 74, 74);
  display: flex;
  justify-content: center;
  height: max-content;
  padding: 1rem;
  margin: 0 auto;
  color: whitesmoke;
}
.menu-admin{
  padding: .1rem;
}
.reg-titulo{
  margin: 0;
  color:rgb(54, 202, 54) ;
  text-align: center;
  padding: 1rem;
  background-color: rgb(92, 99, 99);
}

.reg-form{
  color: aliceblue;
  background-color: rgb(92, 99, 99);
  text-align: center;
}

.reg-label{
  text-align: left;
  margin-left: 4rem;
  color: antiquewhite;
  font-size: 16px;
  
}

table{
  padding: 1rem;
}
th{
  padding: .5rem;
  color: black;
  border-bottom: 1px dotted black;
  border-right: 1px dotted black;
}

tr{
  color: cadetblue;
  border-right: 1px dotted black;
  border-bottom: 1px dotted black;
}
td{
  padding: .5rem;
  border-right: 1px dotted black;

}
.btn-edit{
  line-height: 1.5;
  margin: 1px;
  color: aliceblue;
  background-color: rgb(108, 176, 219);
  padding: 4px;
border-radius: 10px;
}
.btn-new{
  line-height: 1.5;
  margin: 1px;
  color: aliceblue;
  background-color: rgb(38, 194, 36);
  padding: 4px;
border-radius: 10px;
}
.btn-del{
  line-height: 1.5;
  color: aliceblue;
  background-color: rgb(196, 61, 61);
  padding: 4px;
border-radius: 10px;
}