.bannerMain {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #010000;
}

.sliderBanner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slidesBanner {
  display: flex;
  transition: transform 0.5s ease-in;
  width: 100%;
}

.slideBanner {
  font-size: 20px;
  min-inline-size: 100%;
  flex: 0 0 100%;
  position: relative;
}

.slideBanner img {
  width: 100%;
  height: 70vh;
  display: block;

}

.slick-dots {
  visibility: hidden;
}

.slideBanner-content {
  position: absolute;
  top: 15%;
  left: 5%;
  background: rgba(255, 255, 255, 0.3);
  color: #0d0d0d;
  padding: 10px;
  max-width: 600px;
}

.slideBanner-content h2 {
  font-family: cursive;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 10px;
}

.slideBanner-content p {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 15px;
}

.slideBanner-content a {
  width: 8rem;
  display: inline-block;
  padding: 10px 20px;
  background-color: #040404;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

@media (max-width: 768px) {

  .bannerMain, 
  .sliderBanner, 
  .slidesBanner, 
  .slideBanner {
  margin-bottom: 0;
  padding-bottom: 0;
}

}
