.foto-cart{
  border:1px solid grey;
  border-radius: 10px;
}

.marcaCart{
  padding: 1rem;
  color:green;
  border:1px solid grey;
  border-radius: 10px;

}

.tachado {
  text-decoration: line-through;
}