footer{
  background-image: url('../images/footer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
}

footer p,h4{

   color: rgb(247, 248, 251);
   box-shadow: 10px 10px 15px 20px gray;
text-shadow: 5px 1px  20px 5px
}


.icon-size{
  font-size: 30px;
  justify-content: center;
  color: rgb(38, 33, 99);
  padding: 1.5rem;
  border-bottom: 1px dotted grey;
}

span button{
  position: relative;
margin: 1rem;
margin-left: 95%;
  width: 1rem;

}
.Copyright{
  text-align: center;
  padding-top: 2rem;
}