.body-grid {
  background-color: #f5f5fa;
}
.h1-grid {
  color: #232222;
  font-size: 36px;
  
}
.h2-grid {
  font-size: 18px;
  color: rgb(15, 16, 15);
}
.h3-grid {
  font-size: 12px;
  color: rgb(52, 58, 42);
}

.guitar-grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 20px;
  padding: 20px;
}
.image-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 8px 12px;
  border-radius: 12px;
  font-size: 0.8rem;
  color: #fffefe;
  font-weight: bold;
}

.badge.offer {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  background-color: #e74c3c; /* Rojo Oferta */
}

.badge.new {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  background-color: #3498db; /* Azul Nuevo */
}
.guitar-card {
  background: #dedbdb;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  box-shadow: 20px 14px 18px 15px rgba(248, 245, 245, 0.2); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px; 
  flex-grow: 1;
}

.guitar-card:hover {
  transform: translateY(-5px);
  box-shadow: 10px 12px 20px rgba(14, 14, 14, 0.8);
}

.guitar-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 1px;
  flex-grow: 1;
}
.priceDetailGrid{
  color: forestgreen;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .guitar-grid {
    grid-template-columns: 1fr;
  }
  .guitar-card img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    margin: 1px auto;
    flex-grow: 1;
  }
}
