main {
  color: rgb(199, 212, 224);
  /* background-image:url('../images/logo_Music_place.svg');
  background-repeat:no-repeat ; 
  background-size: cover; */
  margin: 0 auto;
  padding: 2rem;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content:center;
  align-items: center;
}

.fotos{
  margin: 0 auto;
}
.fotos img{
  width: 30%;
  height: 30%;
  border-radius: 20px;
  margin: 1rem 0.5rem;
  text-align: center;
  border: none;
}

.fotos img:hover{
  box-shadow: 0px 0px 20px rgba(41, 5, 120, 0.891);
}



.marca {
  margin: 0;
  padding-left:10px;
  font-size: 10px;
  font-weight: bold;
  width: 95%;
  border-radius: 20px;
  border: 2px solid black;
}

.img:hover {
  opacity: 1;
  animation: typing 4s steps(40, end) 1, blink-caret 0.75s step-end infinite;
}

