main {
  color: rgb(199, 212, 224);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  /* padding: 2rem; */
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.main-index {
  width: 100%;
  background: #1c1b1b;
  display: flex;
  flex-direction: row;
}

.titulo-index{
  padding: 2rem 0 1.5rem 0;
  text-transform: uppercase;
  color: #3081be;
  background-color: black;
  text-align: center;
}
.titulo-index1{
  padding: 1rem 0 .5rem 0;
  text-transform: uppercase;
  color: #3081be;
  background-color: black;
  text-align: center;
}
article.index-card {
  margin: .5rem;
  width: 45%;
}

.index-card {
  margin: 0 auto;
  padding: .5rem;
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 10px;
}

.main-product-foto {
  margin: 20% auto;
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 10px;
  width: 50%;
}

.index-fotos {

  border-radius: 5px;
  margin: .5rem;
  padding: .5rem;
  text-align: center;
  border: 1px solid white;
}

.main-product-foto:hover {
  box-shadow: 1px 2px 8px 15px rgba(255, 255, 255, 0.891);
}

.index-info {
  padding: 1rem;
  margin: 0;

  background: radial-gradient(rgba(164, 161, 161, 0.9),
      rgba(139, 138, 138, 0.7),
      rgba(89, 88, 88, 0.5),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0));

}

.index-detail {
  color: rgb(253, 252, 252);
}

.index-h1 {
  font-size: 2rem;
  text-decoration: none;
}

.index-discountCard {
  padding-left: .3rem;
  color: rgb(156, 230, 156);
  font-size: 1.2rem;
}

.price-index {
  color: rgb(39, 214, 39);
  font-size: 1.5em;

}

.tachado-index {
  font-size: 1rem;
  color: rgb(111, 222, 111);
  text-decoration: line-through;
}

@media (max-width: 768px) {

  .index-card {
    margin: 0 auto;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    border-radius: 10px;
    width: 80%;
  }

  .main-product-foto {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    border-radius: 10px;
    width: 100%;
  }

  .index-fotos {
    width: 80%;
    height: 80%;
    border-radius: 5px;
    margin: .5rem;
    padding: .5rem;
    text-align: center;
    border: 1px solid white;
  }

  .index-info {
    padding: 2rem;
    padding-bottom: 0;
  }

  .index-h1 {
    margin-bottom: 2rem;
  }

  .price-index {
    font-size: 24px;
  }

  .index-detail {
    display: none;
  }
}