main {
  color: rgb(199, 212, 224);
  background-repeat:no-repeat ; 
  background-size: cover; 
  margin: 0 auto;
  padding: 2rem;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content:center;
  align-items: center;
}
.main-index{
  background: #000;
}
.index-container{
  display: flex;
  flex-direction: row;
}
.index-card{
  margin: 0 auto;
  padding: .5rem;
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 10px;
  width: 55%;
}


.index-fotos{
  width: 50%;
  height: 30%;
  border-radius: 20px;
  margin: 1rem ;
  text-align: center;
  border: 1px solid white;
}

.index-fotos:hover{
  box-shadow: 1px 2px 8px 15px rgba(255, 255, 255, 0.891);
}
.index-detail{
  color: brown;
}



.marca {
  margin: 0;
  padding-left:10px;
  font-size: 10px;
  font-weight: bold;
  width: 80%;
}

.img:hover {
  opacity: 1;
  animation: typing 4s steps(40, end) 1, blink-caret 0.75s step-end infinite;
}

