body {
  margin: 0;
  padding: 0;

}

.body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../images/footer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(233, 236, 236);
  display: flex;
  justify-content: center;
  height: max-content;
  padding: 3rem;
}

.tit-reg {
  padding: 1rem;
  text-align: center;
  color: rgb(217, 227, 217);
}

#registroForm {
  background-color: rgb(171, 168, 156);
  padding: 25px;
  border-radius: 10px;

}

label {
  font-size: 1rem;
  display: block;
  margin-bottom: 5px;
  color: #1aad1a;

}

label.inline {
  display: inline-block;
}

input,
select {
  padding: 8px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-top: 20px;
  margin-bottom: 10px;
}

.reg-input[type="text"],
.reg-input[type="email"],
.reg-input[type="number"],
.reg-input[type="password"],
select {
  width: 80%;
}

#check {
  position: relative;
  padding: 0;
  width: 10px;
  display: flex;
}

.inline {
  position: absolute;
  margin: 0 20px;
  display: flex;
  flex-direction: row;
}


#show-hide {
  position: relative;
  top: -8px;
  float: right;
  color: dimgrey;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all .5s ease;
}

#show-hide:hover {
  border-bottom: 1px solid gainsboro;
  color: rgb(17, 17, 17);
}

input[type="button"] {
  background-color: rgb(62, 144, 62);
  color: seashell;
  padding: 5px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  width: 100%;
  transition: 0.5s;
}

input[type="button"]:hover {
  background-color: rgb(12, 92, 65);
}

.btn-reg {
  font-size: 1rem;
  line-height: 1.5;
  margin: 1em 10%;
  color: aliceblue;
  font-weight: 900;
  background-color: rgb(38, 194, 36);
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  border: none;
}

.h2-edit {
  color: #2053c9;
  text-align: center;
}

#formAddProduct {
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.textarea {
  margin: 0;
  padding: 0%;
  width: 60%;
  height: 5rem;
  resize: both;
}