body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  overflow-x: hidden;
}
.tachado{
  text-decoration: line-through; 
}
.ofertas{
  display: flex;
  border-bottom: 1px solid gray;
  margin: 2rem auto;

}
main section {
  width: 100%;
  align-self: center;
align-items: center;
align-content: center;
  margin: 2rem auto;
}

.marca p{
  color: darkgreen;
  font-size: 24px;
}
span i{
  text-align: end;
  font-size: 10px;

}
.contacto h3{
margin: 2rem a;
  font-size: 36px;
text-align: center;
font-weight: 900;
}


#description{
  margin-left: 10%;
  border: 1px solid grey;
  width: 80%;
  height: 5rem;
}

.iconos-redes{
  padding: 2rem;
margin-left: 60%;
  width: 12rem;
  display: flex;
}

.p-invalid{
  color: crimson;
  background-color: rgb(239, 208, 220);
  margin-left:10%;
}
.error-validation{
   margin-left:10%;
  color: crimson;
  background-color: rgb(239, 208, 220);
  text-align: left;
  display: block;
  width: 15rem;
}
.is-invalid{
  margin-left: 10%;
  border: 2px solid red;
  box-shadow: 2px 2px 2px;
}
