<!DOCTYPE html>
<html>
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
      <main>
        <div class="fotos">
         <a href="products"><img class="foto" src="../images/teclado.jpg" alt=""> </a>
         <a href="products"><img class="foto" src="../images/bateria3.jpg" alt=""></a>
         <a href="products"><img class="foto" src="../images/lespaul1.jpg" alt=""></a>
         <a href="products"><img class="foto" src="../images/strato.jpg" alt=""></a>
         <a href="products"><img class="foto" src="../images/bcrich.jpg" alt=""></a>
         <a href="products"><img class="foto" src="../images/marshall.jpg" alt=""></a>
         <a href="products"><img class="foto" src="../images/bateria1.jpg" alt=""></a>
         <a href="products"><img class="foto" src="../images/cuerdas.jpg" alt=""></a>
         <a href="products"><img class="foto" src="../images/afinador.jpg" alt=""></a>
         <a href="products"><img class="foto" src="../images/ibanez.jpg" alt=""></a>
         <a href="products"><img class="foto" src="../images/bajo.jpg" alt=""></a>
         <a href="products"><img class="foto" src="../images/ampli.jpg" alt=""></a>
        </div>
      </main>
      <%- include('./partials/footer') %>
  </body>

</html>