<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
      <div class="foto">
      <img class="bars" src="../images/teclado.jpg" alt="">
    <img class="bars" src="../images/bajo.jpg" alt="">
      <img class="bars" src="../images/afinador.jpg" alt="">
      </div>
      <div class="foto">
      <img class="bars" src="../images/bateria.jpg" alt="">
      <img class="bars" src="../images/bajo.jpg" alt="">
      <img class="bars" src="../images/ampli.jpg" alt="">
      <img class="bars" src="../images/ampli.jpg" alt="">
      <img class="bars" src="../images/ampli.jpg" alt="">
      <img class="bars" src="../images/ampli.jpg" alt="">
      <img class="bars" src="../images/ampli.jpg" alt="">
      <img class="bars" src="../images/ampli.jpg" alt="">
      <img class="bars" src="../images/ampli.jpg" alt="">
      <img class="bars" src="../images/ampli.jpg" alt="">
</div>
  </main> 

  </body>
</html>
