<!DOCTYPE html>
<html lang="en">


<%- include('./partials/head')%>

  <body>
    <%- include('./partials/header')%>
      <main>
        <section class="ofertas">
          <div class="products">
            <a href="cart">  <img src="../images/oferta.jpg" alt="oferta"></a>
          </div>

          <div class="marca">
            <p>Excelente guitarra de calidad</p>
            <p>Guitarra Acústica Takamine</p>
            <p>Precio
              <i class="fa-solid fa-dollar">23500</i>
            </p>
            <span><i class="fa-solid fa-shopping-cart">Agregar al carrito</i> </span>
          </div>
        </section>

        <section class="ofertas">
          <div class="products">
            <a href="cart">  <img src="../images/teclado.jpg" alt="teclado"></a>
          </div>

          <div class="marca">
            <p>Excelente guitarra de calidad</p>
            <p>Guitarra Acústica Takamine</p>
            <p>Precio 
              <i class="fa-solid fa-dollar">23500</i>
            </p>
            <span><i class="fa-solid fa-shopping-cart">Agregar al carrito</i> </span>
          </div>
        </section>

        <section class="ofertas">

          <div class="products">
            <a href="cart">  <img src="../images/lespaul1.jpg" alt="guitarra"></a>
          </div>

          <div class="marca">
            <p>Excelente guitarra de calidad</p>
            <p>Guitarra Acústica Takamine</p>
            <p>Precio
              <i class="fa-solid fa-dollar">23500</i>
            </p>
            <span><i class="fa-solid fa-shopping-cart">Agregar al carrito</i> </span>
          </div>
        </section>
        <section class="ofertas">

          <div class="products">
            <a href="cart">   <img src="../images/ampli.jpg" alt="amplificador"></a>
          </div>

          <div class="marca">
            <p>Excelente guitarra de calidad</p>
            <p>Guitarra Acústica Takamine</p>
            <p>Precio
              <i class="fa-solid fa-dollar">23500</i>
            </p>
            <span><i class="fa-solid fa-shopping-cart">Agregar al carrito</i> </span>
          </div>
        </section>

        <section class="ofertas">

          <div class="products">
            <a href="cart">   <img src="../images/bajo.jpg" alt="bajo"></a>
          </div>

          <div class="marca">
            <p>Excelente guitarra de calidad</p>
            <p>Guitarra Acústica Takamine</p>
            <p>Precio
              <i class="fa-solid fa-dollar">23500</i>
            </p>
            <span><i class="fa-solid fa-shopping-cart">Agregar al carrito</i> </span>
          </div>
        </section>


        <section class="contacto">
          <h3>Contacto</h3>
          <div class="textarea">
            <textarea placeholder="Dejanos tu comentario"></textarea>
          </div>
          <div class="iconos-redes">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
          </div>
        </section>

      </main>

      <%- include('./partials/footer')%>

  </body>

</html>