<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
  <title>slideBanner</title>

</head>

<body>
  <main class="bannerMain">
    <div class="sliderBanner" id="slider">
      <div class="slidesBanner">
        <!-- slideBanner 1 -->
        <div class="slideBanner">
          <img src="/images/products/bannerNovedad.jpg" alt="Novedades Musicales">
          <div class="slideBanner-content">
            <p>Descubrí lo último en tecnología musical y accesorios</p>
            <a href="/nav/accesorios">TODO PARA EL MUSICO!!!</a>
          </div>
        </div>

        <!-- slideBanner 2 -->
        <div class="slideBanner">
          <img src="/images/products/guitarFila.jpg" alt="Guitarras en Oferta">
          <div class="slideBanner-content">
            <h2>🎸 Las mejores marcas en guitarras</h2>
            <p>El sonido que amás, al precio que querés.</p>
            <a href="/nav/guitarras">Ver guitarras</a>
          </div>
        </div>

        <!-- slideBanner 3 -->
        <div class="slideBanner">
          <img src="/images/products/drumBanner.webp" alt="Baterías">
          <div class="slideBanner-content">
            <h2>🥁 Ritmo sin límites</h2>
            <p>Conseguí tu batería desde $999.990.</p>
            <a href="/nav/baterias">Ver baterías</a>
          </div>
        </div>

        <!-- slideBanner 4 -->
        <div class="slideBanner">
          <img src="/images/products/tecladoBanner.jpg" alt="Teclados Digitales">
          <div class="slideBanner-content">
            <h2>🎹 Tecnología que suena</h2>
            <p>Teclados digitales para todos los niveles.</p>
            <a href="/nav/teclados">Ver teclados</a>
          </div>
        </div>

        <!-- slideBanner 5 -->
        <div class="slideBanner">
          <img src="/images/products/bajoBanner.jpg" alt="Bajos">
          <div class="slideBanner-content">
            <h2>🔊 Bajos con cuerpo</h2>
            <p>Desde $699.990 en nuestra tienda.</p>
            <a href="/nav/bajos">Ver bajos</a>
          </div>
        </div>

        <!-- slideBanner 6 -->
        <div class="slideBanner">
          <img src="/images/products/accesoriosBanner.png" alt="Accesorios">
          <div class="slideBanner-content">
            <h2>🎧 Accesorios que potencian</h2>
            <p>Auriculares, cables y más para tu setup musical.</p>
            <a href="/nav/accesorios">Ver accesorios</a>
          </div>
     
        </div>
      </div>
    </div>
  </main>
  <script>
    let currentIndex = 0;
    const slidesBanner = document.querySelector('.slidesBanner');
    const slideBanners = document.querySelectorAll('.slideBanner');
    const totalSlides = slideBanners.length;

    const firstClone = slideBanners[0].cloneNode(true);
    slidesBanner.appendChild(firstClone);


    setInterval(() => {
      currentIndex++;
      slidesBanner.style.transition = 'transform 0.5s ease';
      slidesBanner.style.transform = `translateX(-${100 * currentIndex}%)`;

      if (currentIndex === totalSlides) {
        //espero a que termine la transición
        setTimeout(() => {
          slidesBanner.style.transition = 'none'; // Quito la transición
          slidesBanner.style.transform = `translateX(0%)`; // sin animación al inicio
          currentIndex = 0;
        }, 500);
      }
    }, 5000);
  </script>

</body>

</html>