<footer>



<div class="icon-size"><i class="fa-solid fa-credit-card"></i></div>
<h4 class="title-footer">Pagá con tarjeta o en efectivo</h4>
<p>tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.</p>

<div class="icon-size"><i class="fa-solid fa-gift"></i></div>

<p>tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.</p>

<div class="icon-size"><i class="fa-solid fa-user-shield"></i></div>
<h4 class="title-footer">Seguridad de principio a fin.</h4>


<span><button class="btnUp" onclick="scrollToTop()">↑</button></span>

<div class="Copyright">
    <p>©Adrián Clavario-2025 - Todos los derechos reservados.</p>
</div>


<script>
    function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    }
</script>

</footer>
