<header>
  <section>
    <h1 class="logo">MUSIC PLACE</h1>
    <div class="top-header">
      <img src="/images/logo_music_place.png" alt="logo music place">



      <div class="top-header-nav">

        <ul class="ul-flex-usuarios">
          <span>
            <li><a href="../register"><i class="fa-regular fa-user"></i></li></a>
          </span>
          <span>
            <li><a href="../login"><i class="fa-solid fa-right-to-bracket"></i></li> </a>
          </span>
          <span>
            <li><a href="../cart"><i class="fa-solid fa-shopping-cart"></i></li></a>
          </span>
        </ul>
      </div>
    </div>
  </section>

  <form class="header-form">
    <div class="search">
      <input class="header-input" type="text" name="search" placeholder="Buscar marcas, productos...">
      <div>
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div>
  </form>



  <input type="checkbox" name="checkbox" id="menu-toggle">
  <label for="menu-toggle" class="menu-icon-action">
    <div class='fa-solid fa-bars' id="menu-icon"></div>
  </label>

  <ul class="nav-bar">
    <li><a href="/">Home</a></li>
    <li><a href="products">Instrumentos</a></li>
    <li><a href="#accesorios">Accesorios</a></li>
    <li><a href="#amplis">Amplificadores</a></li>
    <li><a href="#mics">Microfonos y Sonido</a></li>
    <li><a href="#About">Acerca de Music Place</a></li>
    <li><a href="#contacto">Contacto</a></li>
  </ul>
</header>