<header class="header">
  <div class="top-header">
    <img src="/images/logoNuevo.webp" alt="logo music place">
    <section>
      <div class="top-header-nav">
        <input type="checkbox" name="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon-action">
          <div class='fa-solid fa-bars' id="menu-icon">

          </div>
        </label>
        <ul class="nav-bar">
          <li><a href="/">Home</a></li>
          <li><a href="/nav/guitarras">Guitarras</a></li>
          <li><a href="/nav/bajos">Bajos</a></li>
          <li><a href="/nav/baterias">Baterias</a></li>
          <li><a href="/nav/teclados">Teclados</a></li>
          <li><a href="/nav/accesorios">Accesorios</a></li>
          <li><a href="/nav//amplis">Amplificadores</a></li>
          <li><a href="/nav/audio">Audio</a></li>
          <li><a href="admin">Administración</a></li>
        </ul>

        <%-include('slider')%>

    </section>
    <h1 class="logo">MUSIC PLACE</h1>
    <section class="input-icons">
      <form class="header-form">
        <div class="search">
          <input class="header-input" type="text" name="search" placeholder="Buscar marcas, productos...">
          <div>
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
      </form>
      
    <ul class="ul-flex-usuarios">
  <% if(locals.userLogin) { %>
    <span >
      <li><a href="/users/logout">Logout<i class="fa-solid fa-right-from-bracket"></i></a></li>
    </span>
    
    <span>
      <li><a href="/">  Cart<i class="fa-solid fa-shopping-cart"></i> </a></li>
    </span>
  <% } else { %>
    <span>
      <li><a href="/users/register">Register<i class="fa-regular fa-user"></i></a></li>
    </span>
    <span>
      <li><a href="/users/login">  Login<i class="fa-solid fa-right-to-bracket"></i></a></li>
    </span>
  <% } %>
</ul>

        </div>
        </div>
      </section>

  <%-include('slider')%>
</header>