<header class="body-admin">
  <nav class="nav-admin">
      <div class="admin-nav">
        <a  style="width: 100px;" href="/">	<img width="200px" src="/images/logo_music_place.png"></a>
   
          <ul>
            <li >
              <a  href="/admin/products">Productos</a>
            </li>
            <li >
              <a href="/admin/users">Usuarios</a>
            </li>
          </ul>
        
              <a  href="/">Volver al sitio</a>
     </div>
</header>
