<header>
  <nav class="body-admin">
      <div class="top-header-nav">
        <a class="logo-a" style="width: 400px;" href="/">	<img width="300px" src="/images/logoNuevo.webp"></a>
      </div>
   
          <ul class="flex-usuarios">
            <li >
              <a class="admin-a"  href="/admin">Productos</a>
            </li>
            <li >
              <a class="admin-a" href="/user">Usuarios</a>
            </li>
          </ul>
        
              <a class="admin-a"  href="/">Volver al sitio</a>
</header>
