<header>
  <nav class="body-admin">
      <div class="admin-nav">
        <a  style="width: 100px;" href="/">	<img width="200px" src="/images/logo_music_place.png"></a>
      </div>
   
          <ul>
            <li >
              <a  href="/products">Productos</a>
            </li>
            <li >
              <a href="/user">Usuarios</a>
            </li>
          </ul>
        
              <a  href="/">Volver al sitio</a>
</header>
