
  <!-- Slick CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

  <style>
    body {
      margin: 0;
      background-color: #111;
    }

    .slider {
      width: 100%;
      margin: auto;
    }

    .slider img {
      width: 100%;
      height: 4rem;
      object-fit: contain;
      padding: 0.5rem;
      background-color: #ffffff;
    }

    .slider .slick-slide {
      display: inline-block;
    }

    .slick-dots li button:before {
      color: white;
    }
  </style>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Slick JS -->
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>
<body>

  <div class="slider">
    <div><img src="/images/slider/gibson.jpg" alt="Gibson"></div>
    <div><img src="/images/slider/peavey.webp" alt="Peavey"></div>
    <div><img src="/images/slider/boss.webp" alt="Boss"></div>
    <div><img src="/images/slider/pearl.webp" alt="Pearl"></div>
    <div><img src="/images/slider/dean.webp" alt="Dean"></div>
    <div><img src="/images/slider/ibanez.webp" alt="Ibanez"></div>
    <div><img src="/images/slider/daddario.webp" alt="D'Addario"></div>
    <div><img src="/images/slider/tama.webp" alt="Tama"></div>
    <div><img src="/images/slider/marshall.jpg" alt="Marshall"></div>
    <div><img src="/images/slider/bcrich.webp" alt="B.C. Rich"></div>
    <div><img src="/images/slider/Ephipone.webp" alt="Epiphone"></div>
    <div><img src="/images/slider/esp.webp" alt="ESP"></div>
  </div>

  <script>
    $(document).ready(function(){
      $('.slider').slick({
        infinite: true,
        speed: 3000,
        autoplay: true,
        autoplaySpeed: 0,
        cssEase: 'linear',
        slidesToShow: 8,
        slidesToScroll: 1,
        arrows: false,
        dots: false,
        pauseOnHover: false,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 6
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 3
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1
            }
          }
        ]
      });
    });
  </script>

</body>
</html>
