<!DOCTYPE html>
<html lang="es">
  <!DOCTYPE html>
  <html lang="en">
    <%- include('../partials/headAdmin', {title: 'Administrar Usuarios' }) %>
  <body>
  
      <%- include('../partials/headerAdmin', {title: 'Administrar Usuarios' }) %>

    <h2 class="reg-titulo">Registro de Usuario</h2>
    <form action="/users/processRegister" method="POST" class="reg-form">
      
        <label for="name" class="reg-label" >Nombre</label>
        <input class="reg-input" type="text" id="name" name="name" ><br><br>

        <label for="surname" class="reg-label" >Apellido</label>
        <input class="reg-input" type="text" id="surname" name="surname" ><br><br>

        <label for="username" class="reg-label" >Nombre de Usuario</label>
        <input class="reg-input" type="text" id="username" name="username" ><br><br>

        <label for="email" class="reg-label">Correo Electrónico</label>
        <input class="reg-input" type="email" id="email" name="email" ><br><br>

        <label for="password" class="reg-label">Contraseña</label>
        <input class="reg-input" type="password" id="password" name="password" ><br><br>
        <span id="show-hide">Show/Hide</span>

        
      <label class="reg-label" for="confirmPassword">Confirmar Contraseña</label>
      <input class="reg-input"  type="password" name="confirmPassword" id="confirmPassword" autocomplete="off">
      <span id="show-hide">Show/Hide</span>
      <div class="errorMessage" id="confirmPasswordError"></div>

        <button class="btn-reg" type="submit">Registrarse</button>
    </form>
</body>
</html>

